.wishListContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 6;
}

.wishItem {
  position: absolute;
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
  z-index: 10;
}

.wishContent {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  letter-spacing: 0.15em;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}