.shootingStar {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  opacity: 1;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
              0 0 0 8px rgba(255,255,255,0.1),
              0 0 20px rgba(255,255,255,0.1);
}

.shootingStar::after{
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 2px;
  background: linear-gradient(90deg,#fff,transparent);
}